
<main class="page-content">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Patients</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Listes des Patients</li>
                </ol>
            </nav>
        </div>

    </div>
    <!--end breadcrumb-->

    <div class="card">
        <div class="card-body">
<button (click)="toggleWeekends()" class="btn btn-danger">toggle weekends</button>
<full-calendar [options]="calendarOptions"></full-calendar>
</div>
</div>


</main>
<ul >
    <li class="editCat" *ngIf="addUtiliEnable">
        <div class="popup-container">
            <div class="popup-header">
                <span class="close" (click)="close()">X</span>
            </div>
            <div class="popup-body scroll-container">
                <form (ngSubmit) = "onSubmit()">
                    <div class="form-group">
                        <label>nom</label>
                        <input type="text" class ="form-control catInput" id = "nom"
                        name = "nom" [(ngModel)] = "calendar.nom">
                    </div>
                    <div class="form-group">
                        <label>prenom</label>
                        <input type="text" class ="form-control catInput" id = "prenom"
                        name = "prenom" [(ngModel)] = "calendar.prenom">
                    </div>
        
                    <div class="form-group" >
                        <label>Date Début </label>
                        <input type="date" class ="form-control catInput" id = "start"
                         name = "start" [(ngModel)] = "calendar.start">
                    </div>
                    <div class="form-group" >
                        <label>Date Fin </label>
                        <input type="date" class ="form-control catInput" id = "end"
                         name = "end" [(ngModel)] = "calendar.end">
                    </div>
                
                    
                    <div class="form-group">
                        <label>tel</label>
                        <input type="number" class ="form-control catInput" id = "tel"
                         name = "tel" [(ngModel)] = "calendar.tel" >
                    </div>
                    <div class="form-group">
                        <label>heure</label>
                        <input type="text" class ="form-control catInput" id = "heure"
                         name = "heure" [(ngModel)] = "calendar.heure">
                    </div>
                    <div class="form-group">
                        <label>date</label>
                        <input type="date" class ="form-control catInput" id = "date"
                         name = "date" [(ngModel)] = "calendar.date">
                    </div>

                    
                   

                    
                    <button  class = "btn btn-success" type ="submit" >Ajouter</button>
                
                </form>
            </div>
        </div>
    </li>
    </ul>
    <ul *ngFor = "let calendar of calendars">
        <li class="editCat" *ngIf="editUtiliEnable && id == calendar.id">
            <div class="popup-container">
                <div class="popup-header">
                    <span class="close" (click)="close()">X</span>
                </div>
                <div class="popup-body scroll-container">
                    <form>
                        <div class="form-group" >
                            <label> nom</label>
                            <input type="text" class ="form-control catInput" id = "nom"
                                [(ngModel)] = "newCalendar.nom" name = "nom" readonly>
                        </div>

                        <div class="form-group" >
                            <label> prenom</label>
                            <input type="text" class ="form-control catInput" id = "prenom"
                                [(ngModel)] = "newCalendar.prenom" name = "prenom" required>
                        </div>
                    
                        <div class="form-group">
                            <label>      Date  Début </label>
                            <input type="date" class ="form-control catInput" id = "date"
                                [(ngModel)] = "newCalendar.start" name = "start">
                        </div>
                    
                        <div class="form-group">
                            <label>     DateFin </label>
                            <input type="date" class ="form-control catInput" id = "DateFin"
                                [(ngModel)] = "newCalendar.end" name = "DateFin" minlength="6" required>
                        </div>
                        <div class="form-group">
                            <label> tel</label>
                            <input type="number" class ="form-control catInput" id = "tel"
                                [(ngModel)] = "newCalendar.tel" name = "description" required>
                        </div>
                       
                       
                       
                        <button (click)="onSubmit()" class = "btn btn-success" type ="submit" >Modifier</button>
                       <button  (click) = "deleteCalendar()" type="button" class="btn btnDelete" >Supprimer</button>
                       
                    
                    </form>
                </div>
            </div>
        </li>	
    </ul>